header {
    position: relative;
    width: 100%;
    position: relative;
    height: 130px;
    background: url("/images/header-bg.png") repeat-x;
    img {
        float: left;
    }
    h1, h3 {
        position: absolute;
        color: #555;
        top: 5px;
        left: 200px;
    }
    h3 {
        top: 50px;
    }
}